  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #292F33;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/*   container 
==================   */
.auto_container {
    box-sizing: border-box;
    max-width: 1450px;
    padding: 0 60px;
    margin: 0 auto;
}


/*   nav 
==================   */

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 5px 0;
    background: #32352f;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.header_box {
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #32352f;
    width: 100%;
    z-index: 999;
}

.header_logo {
    width: 140px;
    height: 60px;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header_logo:hover {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.header_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit:contain;
    
}

.header_nav {
    width: 50%;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

.nav_link {
    margin: 0 10px;
}

.nav_link:hover a {
    color: #A5A9A1;
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.nav_link a {
    display: block;
    width: 100%;
    color: #FFFEFA;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header_about {
    background: #2c4d6d;
    padding: 10px 30px;
    color: #FFFEFA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header_about:hover {
    color: #A5A9A1;
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* toggle_btn */


.toggle_btn {
    display: none;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.menu_line1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background: #f9fafa;
    top: 0;
    right: 0;
    border-radius: 10px;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.nav_click .menu_line1 {
    width: 100%;
    -webkit-transform:  rotate(-45deg) translateX(-6px) translateY(-1px);
    -o-transform: rotate(-45deg) translateX(-6px) translateY(-1px);;
    transform: rotate(-45deg) translateX(-6px) translateY(-1px);
    -webkit-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

.menu_line2 {
    display: block;
    position: absolute;
    width: 50%;
    height: 3px;
    background: #f9fafa;
    top: 50%;
    right: 0;
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10px;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.nav_click .menu_line2 {
    width: 0;
}


.menu_line3 {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background: #f9fafa;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.nav_click .menu_line3 {
    width: 100%;
    -o-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -o-transform: rotate(45deg) translateX(-5px) translateY(1px);
    -webkit-transform: rotate(45deg) translateX(-5px) translateY(1px);
    transform: rotate(45deg) translateX(-5px) translateY(1px);
}


/* dropdown_men */
.dropdown_menu {
    display: none;
    position: absolute;
    padding: 0;
    right: 60px;
    top: 50px;
    width: 250px;
    height: 0;
    border-radius: 3px;
    z-index: 999;
    background: #2c4d6d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    overflow: hidden;
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
    padding: 20px 10px;
}

.dropdown_menu li {
    margin: 5px auto;
    display: flex;
    align-self: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.links {
    padding: 5px 0;
    color: #FFFEFA;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.links:hover {
    color: #A5A9A1;
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.menu_about {
    width: 80%;
    border: 1px solid #2c3131;
    background: #fff;
    border-radius: 7px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px;
    color: #2c4d6d;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.menu_about:hover {
    color: #2c3131;
    border: 2px solid #2c3131;
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*   hero 
==================   */
.hero_inner {
    background-image: url(../images/hero/hero.jpg);
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}


.hero_gradient {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.hero_gradient img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    
}




.hero_content {
    width: 750px;
    position: absolute;
    top: 50%;
    left: 10%;
}

.hero_suptitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1.6px;
}


.hero_title {
    font-size: 36px;
    color: #FFF;
    font-weight: 700;
    line-height: 80px;
}

/*   advert ==================   */

.advert {
    position: relative;
    padding: 100px 0;
}

.advert_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 5px;
}

.advert_item {
    width: calc(50% - 20px);
}

.advert_item_title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 30px;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-zoom-container {
    width: 100%;
    height: 340px;
}

.swiper-zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

/*   portfolio ==================   */

.port_box {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;

}

.port_btn {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 450px;
    margin: 20px auto 50px;
}

.port_btn_door {
    text-align: center;
    width: 200px;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #2c4d6d;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}



.port_btn_furniture {
    text-align: center;
    width: 200px;
    margin: 0 5px;
    border: 1px solid #2c4d6d;
    border-radius: 8px;
    padding: 8px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.color {
    border: 1px solid #fff;
    background: #2c4d6d;
}

.port_item {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;

}


.port_content {
    width: calc(25% - 20px);
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.port_content_one {
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 0;
    top: 0;
    left: 0;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

}

.port_content_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}



.active {
    height: 100%;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.change {
    height: 0;
}


.port_play_photo {
    width: 150px;
    height: 150px;
    animation: play 10s infinite;
}

@keyframes play {
    0% {
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.port_content:nth-child(5),
.port_content:nth-child(6),
.port_content:nth-child(7),
.port_content:nth-child(8) {
    margin-top: 20px;
}


.port_info {
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    z-index: 99;
    bottom: 40px;
}

.port_content_img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -72px;
}

.port_content_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.port_info_title {
    width: 100%;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

}

.port_info_name {
    color: #FCF8F4;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
}



/*   material 
==================   */

.material_box {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.material_subtitle {
    margin-top: 100px;
    color: #FFFEFA;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.material_title {
    margin: 20px 0 50px;
    color: #FFFEFA;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.material_item {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 150px;

}

.material_content {
    width: calc(25% - 20px);
    margin: 0 10px;
}

.material_photo {
    width: 100%;
    height: 400px;
}

.material_photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.material_info {
    width: 100%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.material_info_name {
    color: #FFFEFA;
    text-align: center;
    margin: 25px 0 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-transform: capitalize;
}

.material_info_text {
    width: 80%;
    margin-bottom: 15px;
    color: #FFFEFA;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.material_info_price {
    color: #FFFEFA;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.4px;
}

/*   about 
==================   */

.about_box {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    /* background: #303330; */
    margin: 0;
}

.about_item {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    width: calc(60% - 60px);
    position: relative;
    margin: 0 30px;
}

.about_back_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -200px;
}

.about_back_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


.about_info {
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 150px 0 200px;

}


.about_info_subtitle {
    color: #FFFEFA;
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}


.about_info_title {
    margin: 25px 0 30px;
    color: #FFFEFA;
    text-align: right;
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about_info_text {
    color: #FFFEFA;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.about_info_link {
    display: block;
    width: 175px;
    padding: 10px 30px;
    margin-top: 20px;
    border: 1px solid transparent;
    background: #2c4d6d;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.about_info_link:hover {
    border: 1px solid #fff;
    background: rgba(44, 77, 109, 0.6);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.about_photo {
    width: 40%;
    height: 700px;
    position: relative;
    overflow: hidden;

}

.about_photo_zoom {
    width: 100%;
    height: 100%;
    position: relative;
}

.img_original {
    -o-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;

}

.about_photo_content {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
}

.about_photo_content p {
    width: calc(70% - 10px);
    margin: 0 5px;
    background: #ffffff;
    padding: 10px 0;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.about_photo_content a {
    width: calc(30% - 10px);
    background: #2c4d6d;
    padding: 15px 5px;
    margin: 0 5px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}


/*   product 
==================   */

.product_box {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
}


/* video */
.product_video {
    width: calc(40% - 20px);
    position: relative;
    margin: 0 10px;
    padding: 0 10px;
}

.product_video_play {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.video_play {
    position: absolute;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 99;
    top: 25%;
    left: 35%;
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.product_video:hover .video_play {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
}

.video_play_photo {
    width: 120px;
    height: 120px;
    animation: play 10s infinite;
}

@keyframes play {
    0% {
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.video_play_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.video_play_icon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.video_play_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.video_play_pause {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
}

.video_play_pause img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}




.product_item {
    width: calc(60% - 20px);
    margin: 0 10px;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 100px 20px 50px;
}

.product_info {
    width: 100%;

}

.product_info_name {
    margin-bottom: 15px;
    color: #FFFEFA;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.product_info_title {
    width: 100%;
    color: #FFFEFA;
    text-align: right;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.product_info_text {
    margin-top: 20px;
    color: #FFFEFA;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.product_list {
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: right;
    margin-top: 40px;
    position: relative;
}


.product_list_name li {
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-bottom: 15px;
    color: #FFFEFA;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    position: relative;
}


.product_list_name li:last-child {
    margin-bottom: 0;
}


/*   footer 
==================   */

.footer_box {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

}

.footer_info {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 40px;
}

.footer_item {
    width: calc(33% - 100px);
    margin: 0 50px;
}


.footer_item h3 {
    color: #FFFEFA;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.footer_item_list {
    text-align: left;
    margin-top: 35px;
}

.footer_item_list li {
    margin-bottom: 8px;
}

.footer_item_list li:last-child {
    margin-bottom: 0;
}


.footer_item_list li a {
    color: #FFFEFA;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}


.footer_item_contact {
    display: flex;
    align-items: center;
    -webkit-justify-content: left;
    justify-content: left;
    margin-top: 35px;

}

.footer_item_contact a {
    margin-left: 20px;
    color: #FFFEFA;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

.footer_number {
    width: 25px;
    height: 25px;
}

.footer_number svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.footer_item_adres {
    display: flex;
    align-items: center;
    -webkit-justify-content: left;
    justify-content: left;
    margin: 17px 0;
}

.footer_item_adres a {
    margin-left: 20px;
    color: #FFFEFA;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

.footer_adres {
    width: 25px;
    height: 25px;

}

.footer_adres img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    -o-object-fit: contain;
}

.footer_item_gmail {
    display: flex;
    align-items: center;
}

.footer_item_gmail a {
    margin-left: 20px;
    color: #FFFEFA;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

.footer_gmail {
    width: 25px;
    height: 15px;
}

.footer_gmail svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.footer_item_logo {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer_logo {
    display: block;
    width: 150px;
    height: 80px;
}

.footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}



.footer_logo_text {
    display: flex;
    width: 249px;
    margin-top: 40px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    color: #FFFEFA;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    border-top: 1px solid #FFF;
    margin: 0 auto 20px;
}

.footer_bottom_text {
    color: #FFFEFA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
}

.footer_bottom span {
    display: block;
    margin-left: 15px;
    color: #FFFEFA;
    text-align: center;
    font-size: 14px;
}


#myBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 25px;
    background: #2c4d6d;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#myBtn:hover {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
}

#myBtn span {
    width: 100%;
    height: 100%;
    display: block;


}

#myBtn svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}




/* media screen =====================> */
@media (max-width: 1200px) {

    /* about  */
    .about_info {
        padding: 100px 0 130px;
        max-width: 600px;
    }

    .about_info_title {
        font-size: 42px;
    }

    .about_photo {
        height: 600px;
    }

    .about_photo_content p {
        font-size: 16px;
    }

    .about_photo_content a {
        letter-spacing: 1px;
    }

    /* product  */
    .product_info_title {
        font-size: 30px;
    }

    /* footer  */

    .footer_item {
        width: calc(33% - 50px);
        margin: 0 25px
    }
}



@media (max-width: 1100px) {

    /*   container 
    ==================   */
    .auto_container {
        padding: 0 30px;

    }

    .port_content {
        width: calc(33% - 20px);
    }


    .material_item {
        margin-bottom: 50px;
    }

    .material_title {
        margin: 20px 0;
    }

    .material_content {
        width: calc(33% - 20px);
        margin-top: 20px;
    }

}

/* ========================================= */

@media (max-width: 992px) {
    .header_logo {
        width: 120px;
    }

    .nav_link {
        margin: 0 5px;
    }

    .nav_link a {
        font-size: 14px;
        font-weight: 500;
    }

    .header_about {
        font-size: 16px;
        padding: 10px;
    }

    /* hero/ */


     /* advert */
    .advert{
        padding: 50px 0;
    }


    .hero_content {
        width: 675px;
    }


    .advert_item_title {
        font-size: 26px;
    }



   
    .port_btn_door {
        font-size: 16px;
        font-weight: 400;
    }

    .port_btn_furniture {
        width: 40%;
        font-size: 16px;
        font-weight: 400;
    }

    .port_content {
        height: 350px;
    }

    .port_info_title {
        font-size: 20px;
    }

    .port_info_name {
        font-size: 18px;
    }


    /* material  */


    .material_subtitle {
        margin-top: 80px;
    }

    .material_title {
        font-size: 40px;
        letter-spacing: 3px;
    }

    .material_info_name {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0 15px;
    }

    .material_info_text {
        font-size: 16px;
    }

    .material_info_price {
        font-size: 18px;
        font-weight: 500;
    }

    /* .about */

    .about_item {
        width: calc(100% - 60px);
    }

    .about_photo {
        width: calc(100% - 200px);
        margin: 0 auto;
        height: 400px;
    }

    .about_info_subtitle {
        font-size: 16px;
        font-weight: 400;
    }

    .about_info_title {
        font-size: 38px;
        line-height: 40px;
    }

    .about_info_link {
        width: 150px;
        font-size: 16px;
    }

    .about_back_img {
        left: -285px;
    }

    /* product  */
    .product_video {
        width: calc(100% - 200px);
        margin: 50px auto;
        padding-top: 100px;
    }

    .product_item {
        width: calc(100% - 200px);
        margin: 0 auto 50px;
        padding: 0;

    }


    .product_info_name {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 30px;
        left: 0;
    }

    .product_info_title {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 70px;
        left: 0;
    }

    .product_info_text {
        text-align: center;
    }


    /* video  */
    .video_play {
        top: 45%;
        left: 40%;
    }

    /* footer  */

    .footer_item {
        width: calc(50% - 50px);
        margin: 0 25px;
    }

    .footer_item:last-child {
        margin-top: 50px;
    }


}



@media (max-width: 850px) {

    /* header  */
    .header_logo {
        margin: 5px 0;
        height: 50px;
    }

    .header_nav {
        display: none;
    }

    .header_about {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }




}





/* ========================================== */
@media (max-width: 778px) {

    .header_logo {
        height: 40px;
    }

    /* hero  */
    .hero_content {
        width: 545px;
        left: 5%;
    }


    /* .advert */

    .advert_box{
        justify-content: center;
    }

    .advert_item_title {
        font-size: 20px;
    }

    

    /* .portfolio */
    .port_content {
        width: calc(50% - 20px);
    }

    .port_btn {
        margin: 10px auto 30px;
    }

    .port_content:nth-child(1),
    .port_content:nth-child(2) {
        margin-bottom: 20px;
    }

    /* material  */

    .material_title {
        font-size: 32px;
        letter-spacing: 2px;
    }

    .material_item {
        margin-bottom: 0;
    }

    .material_content {
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }


    /* about  */

    .about_photo {
        width: calc(100% - 100px);
        margin: 0 auto;
        height: 400px;
    }

    .about_back_img {
        left: -170px;
    }

    .about_info {
        padding: 70px 0 100px;
        max-width: 600px;
    }

    .about_info_title {
        font-size: 36px;
    }

    .advert_item {
        width: calc(100% - 30px);
    }

    .advert_item:last-child {
        margin-top: 25px;
    }

    /* product  */
    .product_video {
        width: calc(100% - 100px);
    }

    .product_item {
        width: calc(100% - 100px);
    }

    .product_info_title {
        font-size: 26px;
    }

    /* video  */
    .video_play_photo {
        width: 100px;
        height: 100px;
    }

    .video_play_icon {
        width: 25px;
        height: 25px;
    }

    .video_play_pause {
        width: 25px;
        height: 25px;
    }

    /* .footer  */
    .footer_logo {
        width: 120px;
        height: 60px;
    }

    .footer_logo_text {
        margin-top: 20px;
    }

    .slick-dots li {
        margin: 0 0.15rem;
        width: 15px !important;
        height: 15px !important;
    }

    .slick-dots button {
        width: 15px !important;
        height: 15px !important;
    }

    .slick-dots li.slick-active button {
        border: 5px solid #fff;
    }


}


/* ========================================= */

@media (max-width: 600px) {
    /* hero  */

    .hero_inner {
        height: 80vh;
    }

    .hero_content {
        width: 440px;
    }

    .hero_title {
        font-size: 34px;
        line-height: 50px;
    }

    /* advert  */
    

    .advert_item_title {
        margin-bottom: 10px;
    }

    /* .material  */
    .material_subtitle {
        margin-top: 65px;
        font-size: 16px;
    }

    .material_title {
        font-size: 24px;
        margin: 10px 0 25px;
    }

    .material_info_name {
        font-size: 18px;
    }

    .material_info_text {
        font-size: 14px;
    }

    .material_info_price {
        font-size: 16px;
    }

    /* .about  */

    .about_info_link {
        width: 120px;
        padding: 10px;
    }

    .about_photo_content p {
        font-size: 16px;
    }

    .about_photo_content a {
        letter-spacing: 0;
        font-weight: 400;
    }

    .about_info_title {
        font-size: 30px;
    }

    .about_back_img {
        left: -115px;
    }

    /* product  */
    .product_info_title {
        font-size: 22px;
    }

    .product_list {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .product_item {
        margin: 0 auto 10px;
    }

    .product_list_name {
        width: calc(100% - 10px);

    }

    .product_list_name li:last-child {
        margin-bottom: 15px;
    }

    /* video  */
    .video_play {
        left: 35%;
    }

    /* footer  */


    .footer_item {
        width: calc(100% - 25px);
    }

    .footer_item h3 {
        font-size: 16px;
        margin-top: 35px;
    }


    .footer_info {
        padding: 40px 0;
    }

    .footer_item_list {
        margin-top: 20px;
    }

    .footer_item_list li a {
        font-size: 14px;
    }

    .footer_item_contact {
        margin-top: 20px;
    }

    .footer_item_contact a {
        font-size: 14px;
    }

    .footer_number {
        width: 20px;
        height: 20px;
    }

   

    .footer_item_adres a {
        font-size: 14px;
    }

    .footer_adres {
        width: 20px;
        height: 20px;
    }

    .footer_adres img {
        width: 20px;
        height: 20px;
    }

    .footer_item_gmail a {
        font-size: 14px;
    }


    .footer_gmail {
        width: 20px;
        height: 20px;
    }

    .footer_gmail img {
        width: 20px;
        height: 20px;
    }

    .footer_bottom_text {
        font-size: 14px;
    }

    #myBtn{
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 550px) {
    .about_photo_content {
        bottom: 30px;
    }

    .about_photo_content p {
        width: calc(100% - 20px);
        border-radius: 3px;
    }

    .about_photo_content a {
        width: calc(100% - 20px);
        margin-top: 5px;
        border-radius: 3px;
    }
}




/* ========================================= */

@media (max-width: 475px) {

    .hero_inner {
        height: 60vh;
    }

    .hero_content {
        width: 280px;
    }

    .hero_title {
        font-size: 20px;
        line-height: 30px;
    }

    .hero_suptitle {
        font-size: 14px;
    }

    /* advert  */

    .port_btn {
        width: 100%;
    }

    .port_btn_door {
        width: 60%;
    }

    .port_btn_furniture {
        width: 60%;
        margin-top: 10px;
    }

    .port_content {
        width: calc(100% - 65px);
    }

    .port_content:nth-child(4) {
        margin-top: 20px;
    }

    .port_info_title {
        font-size: 18px;
    }

    .port_info_name {
        font-size: 16px;
    }

    /* material  */

    .material_subtitle {
        font-size: 14px;
        margin-top: 50px;
    }

    .material_title {
        font-size: 18px;
        line-height: 30px;
    }

    .material_content {
        width: calc(100% - 20px);
    }

    .material_photo {
        height: 350px;
    }

    /* about  */

    .about_info {
        padding: 50px 0;
    }


    .about_info_subtitle {
        font-size: 14px;
        text-align: center;
    }

    .about_info_title {
        font-size: 18px;
        text-align: center;
    }

    .about_info_text {
        font-size: 14px;
    }


    .about_info_link {
        width: 100%;
        font-size: 14px;
    }

    .about_photo {
        width: calc(100% - 25px);
    }

    .about_photo_content p {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .about_back_img {
        left: -60px;
    }

    .about_back_img img {
        object-fit: cover;
        -o-object-fit: cover;
    }



    /* .product */

    .product_video {
        width: calc(100% - 5px);
    }

    .product_info_title {
        font-size: 18px;
        line-height: 28px;
    }

    .product_item {
        width: calc(100% - 40px);
    }

    /* video  */

    .video_play_icon {
        width: 20px;
        height: 20px;
    }

    .video_play_pause {
        width: 20px;
        height: 20px;
    }


    /* footer  */
    .footer_bottom span {
        margin-left: 5px;
    }
}